/* ===== General Styles ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0;
    background-color: white;

    padding: 20px;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;   
}

body > * {
    width: 100%;
}

h1, .subtitle {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

section {
    margin-bottom: 20px;
}

/* ===== Ingredients ===== */
.ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.ingredient {
    width: 100px;
    height: auto;
    background-color: white;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ingredient img {
    width: 60%;
    height: auto;
    border-radius: 8px;
}

.ingredient > p {
    font-size: small;
}

.ingredient:hover, .ingredient:focus  {
    background-color: #f9f9f9;
}

/* ===== Steps ===== */
.step {
    position: relative;
    background-size: cover; 
    background-position: center;
    padding: 1em;;
    border: 0.1em solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    height: 500px;
}

.step::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    border-radius: 0 0 10px 10px; 
    z-index: 0;
}

.step {
    display: none;
}

.step:target, .step:focus-within, body:not(:has(:target)) #step1 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.step > h2, p, div {
    z-index: 2;
}

.step > h2 {
    margin-top: 0;
}

.step > p {
    margin-top: 0;;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: none;
    color: #fff;
    text-decoration: none;
    border: 1.5px solid #45a049;
    border-radius: 4px;
    text-align: center;
}

a:hover, a:focus {
    background-color: #45a049;
}

.restart {
    border-color: yellowgreen;
}

.restart:hover, .restart:focus {
    background-color: yellowgreen;
}

.step-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===== Step navigation dots ===== */

.step-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.step-dot {
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: white;
    border-radius: 1000px;
    text-indent: -9999px;
    transition: background-color 0.3s ease;
}

.step-dot:hover, .step-dot:focus {
    background-color: #45a04952;
}

.step#step1:target ~ div .step-dot[href$="#step1"],
.step#step2:target ~ div .step-dot[href$="#step2"],
.step#step3:target ~ div .step-dot[href$="#step3"],
.step#step4:target ~ div .step-dot[href$="#step4"],
.step#step5:target ~ div .step-dot[href$="#step5"],
.step#step6:target ~ div .step-dot[href$="#step6"],
.step#step7:target ~ div .step-dot[href$="#step7"] {
    background-color: #45a049; 
}

/* Fallback: Highlight step 1 dot if no step is targeted */
body:not(:has(:target)) .step-dot[href$="#step1"] {
    background-color: #45a049;
}